/* Back-to-top Button Attributes */
#back-to-top {
  display: none; /* Hidden by default */
  position: fixed; /* Sticky position */
  bottom: 20px; /* Place the button Y-px from the bottom of the page */
  right: 20px; /* Place the button X-px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none;
  outline: none;
  background-color: #2C3E50; /* Set a background color */
  opacity: .7;
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px;
  border-radius: 15%; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#back-to-top:hover {
  background-color: #679bef; /* Add a color on hover */
}

/* Main Element Attributes */
body {
  padding-top: 3.5rem;
  margin: 0 auto;
}

.bg-dark-blue {
  background-color: #2C3E50;
}

h1, h2 {
  text-align: center;
}

.container {
  padding: 1.5em;
  /* margin-bottom: 1rem; */
}

#intro {
  color: white;
  text-shadow: 2px 2px 8px #000000;
}

#about {
  padding: 80px 0 80px 0;
  background: linear-gradient(#a4cee5, #F1F1F1);
}

.about img{
  max-height: 200px;
}

#skills {
  background: linear-gradient(#F1F1F1, #FFFFFF);
}

footer {
  text-align: center;
}

/* Top Image Attributes */
.img-inner {
  /* The image used */
  position: relative;
  background-image: url("../images/background_01.jpg");
  /* Height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.caption {
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  position: absolute;
  top: 50%;
  left: 50%;
}


/* Profile Image Attributes */
.personal img {
  width: 225px;
  height: 225px;
  border: 7px solid #fff;
}

.personal {
  text-align: center;
}

/* Social Media Icon Attributes */

.social-buttons a:hover {
  color: #679bef;
}

.social-buttons a {
  font-size: 30px;
  line-height: 30px;
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #000000;
  border-radius: 10%;
  outline: 0;
}

.social-buttons-top a:hover {
  color: #a4cee5;
}

.social-buttons-top a {
  font-size: 30px;
  line-height: 30px;
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #FFFFFF;
  border-radius: 10%;
  outline: 0;
}

/* Skills Icons Attributes */
.skills img{
  max-height: 80px;
  max-width: 150px;
  padding: 5px;
  object-fit: scale-down;
}

/* Misc. Attributes */
.list-inline {
  list-style: none;
}

figure {
  display: table;
  align: center;
}

figcaption {
  display: table-caption;
  caption-side: bottom;
}

#gameContainer { width: 60vw; height: 60vh; }
canvas { width: 100%; height: 100%;}
